/**
 *
 * Apply your custom CSS here
 *
*/

body {}

a {}

.heading-h4 {
    border: 1px solid;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 30px;
    border-color: #ff751a;
    padding: 10px;
    box-shadow: 3px 3px 0px #ff751a;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
    text-align: left;
}

.table {
    color: black;
    margin-top: 20px;
}

.card-login {
    border: 1px solid grey;
    padding: 22px;
    display: inline-block;
    width: auto;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card-login1 {
    border: 1px solid grey;
    padding: 22px;
    display: inline-block;
    width: 70%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.test {
    display: inline-block;
    padding: 10px;
}

.scroll-x {
    overflow-x: hidden;
}

.scroll-y {
    overflow-y: hidden;
}

.para {
    border: 2px solid;
    padding: 5px;
}

.test-1 {
    margin-top: 55px;
    margin-right: 30px;
}

.id-underline {
    text-decoration: underline!important;
}

.create {
    background-color: #014c7e;
    border: none;

}

.create:hover {
    background-color: #014c7e;
    border: none;
}

.expense {
    width: 30%;
}

.logo-expanded {
    display: block;
}

.logo-expanded img {
    width: 50%;
    margin: 0 auto;
    display: block;
}

.select-w {
    width: 150px!important;
}

.example {
    width: 300px;
}

.proceed {
    margin-top: 20px;
}

.request-button {
    background-color: #014c7e;
    color: white;
}

.request-button:hover {
    background-color: #014c7e;
    border: none;
    color: white;
}
.highcharts-background{
    width: 915px;
    
}
.high-chart{
margin-top: 30px;
}
.highcharts-title{
    display: none;
}
.chat-box {
    max-height: 300px;
    overflow: auto;
}
/*.highcharts-axis{
    display: none;
}*/
.highcharts-credits{
    display: none;
}
.hide-y .highcharts-yaxis{
display: none;
}
.chat-box li {
    padding: 5px 10px;
    text-align: left;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #494949;
    margin-right: 20px;
    position: relative;
    padding-bottom: 15px;
}

.chat-box li.me {
    background-color: #e5e5e5;
    text-align: right;
    margin-left: 20px;
    border: 0px;
    margin-right: 0px;
}

.date {
    font-size: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 10px;
    left: 0;
    color: #7d7d7d;
}
.profile-input{
  margin: 10px;
}
.profile-img{
  width: 100px;
  height: 100px;
  margin: 20px;


}
.profile-img img{
  height: 100%;
  width: 100%;
}
.account{
  margin: 20px 0px;
}
.btn1{
    height: 50px;
    margin-bottom: 1px;
}
.btn2{
    height: 30px;
    margin-top: 10px;
}
.btn-primary {
    color: #fff;
    background-color: #014c7e;
    border-color: #014c7e;
}
.head-bod{
    margin-right: 10px!important;
}
.search-env form button[type=submit]{
  line-height: 0;
  padding: 15px 15px 0;
}
.modal-footer {
    border-top: none; 
}

/* HIGHCHARTS CSS */
.highcharts-container .highcharts-root .highcharts-button {
    display: none !important;
}