/**
 *
 * Apply your custom CSS here
 *
*/

body {}

a {}

.heading-h4 {
    border: 1px solid;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 30px;
    border-color: #ff751a;
    padding: 10px;
    box-shadow: 3px 3px 0px #ff751a;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
    text-align: left;
}

.table {
    color: black;
    margin-top: 20px;
}

.card-login {
    border: 1px solid grey;
    padding: 22px;
    display: inline-block;
    width: auto;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card-login1 {
    border: 1px solid grey;
    padding: 22px;
    display: inline-block;
    width: 70%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.test {
    display: inline-block;
    padding: 10px;
}

.scroll-x {
    overflow-x: hidden;
}

.scroll-y {
    overflow-y: hidden;
}


.para {
    border: 2px solid;
    padding: 5px;
}

.test-1 {
    margin-top: 55px;
    margin-right: 30px;
}
.id-underline{
    text-decoration: underline!important;
}
.create{
    background-color: #014c7e;
    border: none;
    width: 35%;
}
.create:hover{
    background-color: #014c7e;
     border: none;
}